{% assign books = site.categories.books %}
{% assign reviews = site.data.reviews limit: 1 | where: 'featured_home', true %}
<article class="" style="padding-top:0;width:750px;margin:auto;">
{% for book in books %}
<header>
			<h1 class="page-title">
				{{book.title}} 
			</h1>
			{% if book.subtitle %}
				<h2 class="subtitle">
					{{book.subtitle}}
				</h2>
			{% endif %}
		</header>
{% endfor %}

  {% for review in reviews %}  
    
    	
      
      
        {% include books/format-reviews.html %}
      
    
    
  {% endfor %}


<hr />
<iframe width="640" height="360" src="//www.youtube.com/embed/XLi6iYnnsGc?rel=0" frameborder="0" allowfullscreen></iframe>

</article>