{% assign books = site.books %}
{% assign reviews = site.data.reviews limit: 1 | where: 'featured_home', true %}
{% assign posts = site.posts limit: 1  %}

<article class="hentry" style="margin-top:2em;">
{% comment %}
<!-- <h6 style="text-align:right;margin-bottom:2em;font-family:Helvetica;"><a href="/journal/news/2014/07/10/ted-talk/">
	View the TED Talk Video Here &raquo;
	</a>
</h6> -->
{% endcomment %}

{% for post in posts limit: 1 %}
	<h3>
		<a href="{{ post.url }}" style="color:#101010;">
			{{ post.title| markdownify | remove: '<p>' | remove: '</p>'  }}
		</a>
	</h3>
	<p>
		<a href="{{ post.url }}">
			read more &raquo;
		</a>
	</p>
{% endfor %}
	<hr />
	{% for book in books limit: 1 %}
		<header>
			<h1 class="page-title">
				{{ book.title }}
			</h1>
			{% if book.subtitle %}
				<h2 class="subtitle">
					{{ book.subtitle }}
				</h2>
			{% endif %}
		</header>

	<img src="{{ book.cover_image_path }}" style="margin-bottom: 124px;margin-left:18px;float:right; " class="image-shadow">
	{% endfor %}



{% for review in reviews %}


	{% include books/format-reviews.html %}
{% endfor %}
<br />
	<a href="/books/your-fatwa-does-not-apply-here/">
		<strong>
			&raquo; read more about the book
		</strong>
	</a>
<hr />
<a href="/excerpt-from-your-fatwa-does-not-apply-here/" class="button">
	<button>
		read an excerpt
	</button>
</a>

	{% for book in books %}
		{% if book.video_embedTK %}
			<hr />
			<iframe width="640" height="360" style="max-width:100%;" src="{{book.video_embed}}" frameborder="0" allowfullscreen></iframe>
		{% endif %}
	{% endfor %}
</article>
