---
---

@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@import "libs/normalize";
@import "libs/bourbon/bourbon";
@import "bitters/bitters";
@import "libs/neat/neat";


// BASIC MODULES
@import "modules/article";
@import "modules/navigation-side";
@import "modules/font-icons";
@import "modules/page-splash";
@import "modules/quotes";
@import "modules/buttons-pure";
@import "modules/refills/nav-top";
@import "modules/sharing";

body {
	background-color: #f2f1ed;
}

a.brand-tagline {
    font-weight: 300;
    color: #addaec;//rgb(142, 142, 214);
}

h2.title {
	margin-top: 2em;
}

.content-list {
	margin-top: 1em;
}

.book-information {display: none;}
body.home .book-information, body.books .book-information {display: block;}

@include media($medium-screen-up) {
  	.book-information {display: block;}
  }

 body.home article {
 	
 	width:750px;
 	margin:auto;
 	padding: 0 1em 4em 1em;
 	max-width: 100%;
 } 

 body.home small {
 	font-weight: bold;
 }

