---
layout: default
section: book
---
<article class="hentry page-content">
	<div class="row">
		{% include books/related-review.html show="1" %}
	</div>
	{% if page.title %}
		<header>
			<h1 class="page-title">
				{{page.title}} 
			</h1>
			{% if page.subtitle %}
				<h2 class="subtitle">
					{{page.subtitle}}
				</h2>
			{% endif %}
		</header>
	{% endif %}
	<section class="books">
		<article>
		{% if page.excerpt_link %}
			<button><a href="{{page.excerpt_link}}" class="button">read an excerpt</a></button>
			<hr />
		{% endif %}

			{{ content }}
		</article>
	</section>
	<hr />
	<div id="reviews" class="row">
		<h3>Praise for <em>{{page.title}}</em></h3>
		{% include books/related-reviews.html show="100" offset="1" %}
	</div>
</article>
