// INCLUDES
$include-sidebar-right: false;
$include-sidebar-left: true;


// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: "Open Sans", "Lucida Sans", $helvetica;
$serif: 'Lora', $georgia;

$base-font-family: $serif;
$header-font-family: $base-font-family;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

// Colors
///////////////////////////////////////////////////////////////////////////////

$light-red: #b2453b;
$light-green: #809858;

$blue: #477DCA;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #f7f7f7;//#f5f5f5;

$light-yellow: #FFF6BF;



$heading-color: $light-red;
$navigation-color-active: $light-red;

// Body Color
$base-body-color: $blue;//white;

//  Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $light-green;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;
